/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    

}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.main,
.container > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.container > header {
	padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 400;
}

.container > header span {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header nav {
	float: right;
}

.container > header nav a {
	display: block;
	float: left;
	position: relative;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	color: transparent;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
	text-indent: -8000px;
}

.container > header nav a:after {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	opacity: 0;
	pointer-events: none;
}

.container > header nav a:hover:after {
	opacity: 1;
}

.container > header nav a:hover {
	background: #47a3da;
}

.main > section {
	max-width: 260px;
	width: 90%;
	margin: 0 auto;
}

.main > section h2 {
	font-weight: 300;
	color: #ccc;
}

.main > section button {
	border: none;
	background: #47a3da;
	color: #fff;
	padding: 1.5em;
	display: block;
	width: 100%;
	cursor: pointer;
	margin: 10px 0;
	font-size: 0.8em;
}

.main > section button:hover {
	background: #258ecd;
}

.main > section button.active {
	background: #0d77b6;
}

.main > section button.disabled {
	background: #aaa;
	pointer-events: none;
}

.icon-drop:before, 
.icon-arrow-left:before {
	font-family: 'fontawesome';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 2;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 8px;
}

.container > header nav a:hover:before {
	color: #fff;
}

.icon-drop:before {
	content: "\e000";
}

.icon-arrow-left:before {
	content: "\f060";
}

#showRight{
	border:none;
	background-color: transparent;
	position: fixed;
	top:0;
	right:0;
	z-index: 999;
	outline: none !important;
}
#menuicon:hover,#closeicon:hover {
	color:#55ACEE !important;
}

.invisible{
	display:none;
}

.logotype {
	position:absolute;
	top:0;
	left:0;
	vertical-align: text-bottom;
}
.logotype a{
	font-family: "Pacifico","Source Sans Pro" !important;
	color:#777;
	text-decoration: none !important;
	font-size: 20px;

}

.calendario{
	padding:5px;
	border-radius: 15px;
	background-color: white;
}

.button{
	background-color: #ddd;

}

body{background-color: transparent;}
table{}

html{
    background-image: url(../img/notebook.png);
    /*background-image:url(http://orig12.deviantart.net/ef42/f/2015/341/d/6/flat_landscape__winter_edition__by_jovicasmileski-d9jbz70.jpg);*/
    /*background-image: url(http://i.istockimg.com/file_thumbview_approve/38737172/3/stock-illustration-38737172-seamless-flamingo-bird-pattern.jpg);*/
    /*background-image: url(https://cdn.designmaz.net/wp-content/uploads/2014/10/google-inspired.jpg); */
  /* background-repeat:none;
  background-size: cover;
  background-position: bottom;*/
  min-height: 100%;
}

.branding{
	vertical-align: middle;
}

@media (max-width: 750px) {
.mediafoto{
  display:none;
}
}


	#graphbody {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}


	.ct-series-a .ct-area{
      fill: #1685CD !important;
    }
    .ct-area{
    	fill-opacity:0.5 !important;
    }
    .ct-series-a, .ct-line {
    stroke: #1685CD !important;
    /* stroke: #00B7FF !important; */
	}
	.ct-point {
    stroke: grey !important;
	}
	svg:not(:root){
		overflow: visible;
	}
	.row{margin:0;}

	#bodycalendar {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}




  .row{
    margin:0;
  }
  .centered2{
    text-align: center;
  }