<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<welcome-file-list>
    	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>
	<servlet>
        <servlet-name>Mapa</servlet-name>
        <servlet-class>es.upm.dit.isst.socialTV.web.controllers.MapaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mapa</servlet-name>
        <url-pattern>/mapa/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Config</servlet-name>
        <servlet-class>es.upm.dit.isst.socialTV.web.controllers.ConfigServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Config</servlet-name>
        <url-pattern>/apitest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MostrarTest</servlet-name>
        <servlet-class>es.upm.dit.isst.socialTV.web.controllers.ViewTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MostrarTest</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cada5min</servlet-name>
        <servlet-class>es.upm.dit.isst.socialTV.web.controllers.Cron5MinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cada5min</servlet-name>
        <url-pattern>/cron/5min</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Top5</servlet-name>
        <servlet-class>es.upm.dit.isst.socialTV.web.controllers.Top5Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Top5</servlet-name>
        <url-pattern>/top</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Grafica</servlet-name>
        <servlet-class>es.upm.dit.isst.socialTV.web.controllers.GraphServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Grafica</servlet-name>
        <url-pattern>/grafica/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Calendar</servlet-name>
        <servlet-class>es.upm.dit.isst.socialTV.web.controllers.CalendarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Calendar</servlet-name>
        <url-pattern>/calendar</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>BorraProgs</servlet-name>
        <servlet-class>es.upm.dit.isst.socialTV.web.controllers.DeleteProgramsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorraProgs</servlet-name>
        <url-pattern>/borraprogs</url-pattern>
    </servlet-mapping>   
    <servlet>
        <servlet-name>BorraDatos</servlet-name>
        <servlet-class>es.upm.dit.isst.socialTV.web.controllers.DeleteDatosAudiencia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorraDatos</servlet-name>
        <url-pattern>/borradatos</url-pattern>
    </servlet-mapping>
</web-app>
