<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="socialTVweb"
    version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MapaServlet</servlet-name>
  	<servlet-class>com.dit.upm.socialTV.socialTVweb.controllers.MapaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MapaServlet</servlet-name>
  	<url-pattern>/Mapa</url-pattern>
  </servlet-mapping>
</web-app>
